*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.perfil{
    object-fit: cover;
    height: 90px;
    float: left;
    width: 90px;
    border: solid white;
    border-radius: 50px;
}

.cabecalho{
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
}

.cabecalho p{
    margin-left: 15px;
    margin-top: 30px;
}

.rodape{
    display: flex;
    justify-items: center;
    font-size: small;
    margin: 20px 0 0 10px;
    color: white;
}